@import './utilities/typography.css';
@import './utilities/animations.css';
@import './utilities/colors.css';
@import './components/icons.css';
@import './components/baseline-grid.css';
@import './components/font-metrics.css';
@import './components/links.css';
@import './components/divider.css';
@import './components/buttons.css';
@import './components/badge.css';
@import './components/status-label.css';
@import './components/chip.css';

@theme {
  /* Breakpoints */
  --breakpoint-sm: 28.75rem; /* 460px — $breakpoint-x-small */
  --breakpoint-md: 38.75rem; /* 620px — $breakpoint-small */
  --breakpoint-lg: 64.75rem; /* 1036px — $breakpoint-large */
  --breakpoint-xl: 105.0625rem; /* 1681px — $breakpoint-x-large */
  --breakpoint-2xl: initial;
}
