@theme {
  --color-orangewind-50: oklch(0.98 0.02 70);
  --color-orangewind-100: oklch(0.95 0.05 65);
  --color-orangewind-200: oklch(0.88 0.1 60);
  --color-orangewind-300: oklch(0.8 0.14 55);
  --color-orangewind-400: oklch(0.72 0.17 50);
  --color-orangewind-500: oklch(0.65 0.19 45);
  --color-orangewind-600: oklch(0.55 0.17 42);
  --color-orangewind-700: oklch(0.45 0.14 40);
  --color-orangewind-800: oklch(0.37 0.1 38);
  --color-orangewind-900: oklch(0.3 0.07 36);
  --color-orangewind-950: oklch(0.22 0.05 34);
}
