@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import './utilities/headings.css';

@theme {
  /* Breakpoints */
  --breakpoint-sm: 28.75rem; /* 460px — $breakpoint-x-small */
  --breakpoint-md: 38.75rem; /* 620px — $breakpoint-small */
  --breakpoint-lg: 64.75rem; /* 1036px — $breakpoint-large */
  --breakpoint-xl: 105.0625rem; /* 1681px — $breakpoint-x-large */
  --breakpoint-2xl: initial;

  /* Font Families */
  --font-sans: Ubuntu, Arial, 'libra sans', sans-serif;
  --font-mono: 'Ubuntu Mono', Consolas, Monaco, Courier, monospace;

  /* Font Sizes & Line Heights */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;

  --text-lg: 1.5rem;
  --text-lg--line-height: 2rem;

  --text-xl: 2rem;
  --text-xl--line-height: 2.5rem;

  --text-2xl: 2.5rem;
  --text-2xl--line-height: 3rem;

  --text-3xl: 4rem;
  --text-3xl--line-height: 4.5rem;

  --text-4xl: 5rem;
  --text-4xl--line-height: 5.5rem;

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}
