@font-face {
  font-display: swap;
  font-family: 'Ubuntu variable';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100 800;
  src: url('https://assets.ubuntu.com/v1/f1ea362b-Ubuntu%5Bwdth,wght%5D-latin-v0.896a.woff2')
    format('woff2-variations');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu variable';
  font-stretch: 100%;
  font-style: italic;
  font-weight: 100 800;
  src: url('https://assets.ubuntu.com/v1/90b59210-Ubuntu-Italic%5Bwdth,wght%5D-latin-v0.896a.woff2')
    format('woff2-variations');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono variable';
  font-style: normal;
  font-weight: 100 800;
  src: url('https://assets.ubuntu.com/v1/d5fc1819-UbuntuMono%5Bwght%5D-latin-v0.869.woff2')
    format('woff2-variations');
}

@theme {
  /* Font Families */
  --font-sans: 'Ubuntu variable', sans-serif;
  --font-mono: 'Ubuntu Mono variable', monospace;

  /* Font Metrics */
  --ow-baseline-position: 0.932em;
  --ow-cap-height: 0.693em;
  --ow-x-height: 0.517em;

  /* Font Sizes & Line Heights */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;

  --text-lg: 1.5rem;
  --text-lg--line-height: 2rem;

  --text-xl: 2rem;
  --text-xl--line-height: 2.5rem;

  --text-2xl: 2.5rem;
  --text-2xl--line-height: 3rem;

  --text-3xl: 4rem;
  --text-3xl--line-height: 4.5rem;

  --text-4xl: 5rem;
  --text-4xl--line-height: 5.5rem;

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-mono);
  }
}

@layer components {
  /* Headings */
  .ow-heading-1 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: 550;

    @media (width >= theme(--breakpoint-lg)) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }
  }

  .ow-heading-2 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: 180;

    @media (width >= theme(--breakpoint-lg)) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }
  }

  .ow-heading-3 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: 550;
  }

  .ow-heading-4 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: 275;
  }

  .ow-heading-5 {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: 550;
  }

  .ow-heading-6 {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: var(--font-weight-regular);
  }

  /* Display Heading */
  .ow-display-heading {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
    font-weight: var(--font-weight-thin);
  }

  .ow-text-small-caps {
    font-variant-caps: all-small-caps;
    font-variant-numeric: oldstyle-nums;
    letter-spacing: 0.05em;
    display: block;
    margin-top: 0;
  }

  .ow-muted-heading {
    border-top: 0;
    display: block;
    font-variant-caps: all-small-caps;
    font-variant-numeric: oldstyle-nums;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.05em;
    padding-top: 0.375rem;
  }

  .ow-heading-icon-header {
    display: flex;
    align-items: center;
    gap: 1rem;

    &.is-stacked {
      display: block;
    }

    .ow-heading-icon-img {
      flex-shrink: 0;
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .ow-heading-icon-small {
    .ow-heading-icon-img {
      height: 2rem;
      width: 2rem;
    }
  }
}
