/* CTA section — https://vanillaframework.io/docs/patterns/cta-section */

@theme {
  --color-ow-cta-block-border: var(--color-ow-border-default);
  --ow-cta-block-block-spacing: 1.5rem;
  --ow-cta-block-border-spacing: 0.5rem;
  --ow-cta-block-gap: 1rem;
}

@layer components {
  .ow-cta-block {
    align-items: baseline;
    column-gap: var(--ow-cta-block-gap);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: var(--ow-cta-block-block-spacing);
    row-gap: var(--ow-cta-block-border-spacing);

    &.ow-has-border {
      border-top: 1px solid var(--color-ow-cta-block-border);
      padding-top: var(--ow-cta-block-border-spacing);
    }
  }
}
